.comment-preview {
    display: grid;
    column-gap: 1em;
    grid-template-columns: auto 1fr;
    background-color: #fff;
    padding: 0.3em;
    border-radius: 1em;

    > *:first-child {
        align-self: end;
    }

    img {
        grid-row: 1 / span 2;
        max-width: 70px;
        border-radius: 50%;
        box-shadow: 0px 0px 2px 1px black;
    }
}